[package]
name = "core"
version = "0.1.0"
edition = "2021"

[dependencies]
zbus = { version = "5.1.1", default-features = false, features = ["tokio"] }
tokio = { version = "1.41.1", features = ["full"] }
