name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Install dependencies
        run: sudo apt-get -y install pkg-config libssl-dev ca-certificates libasound2-dev libpulse-dev libdbus-1-dev portaudio19-dev libudev-dev libshout3-dev

      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Install cross
        run: cargo install cross --git https://github.com/cross-rs/cross

      - name: Build
        working-directory: alas
        run: just build

      - name: Run tests
        working-directory: alas
        run: cargo test --verbose
